* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body {
display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient(255deg, #0000b1, #000025);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#f2f2f2;
}

.msg {
    font-size: 4rem;
    font-weight: 700;
    border-right: 4px solid #00b7ff;
    width: 18ch;
    overflow:hidden;
    white-space: nowrap;
    animation: blinkMarker 0.5s infinite, typing 5s steps(18) infinite;
}

.msg span {
    color: aqua;
}

@keyframes blinkMarker {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    40% {
        width:18ch;
    }

    60% {
        width: 18ch;
    }

    100% {
        width: 0ch;
    }
}